.container {
  min-height: 100vh;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main::before {
  content:"";
  background-image: 
    linear-gradient(to bottom, #a40160, rgba(102, 51, 153, .7)),
    url("https://images.unsplash.com/photo-1563525602295-35911ca78d54?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1502&q=80");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: .5;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2.2rem;
}

.title,
.description {
  text-align: center;
  position: relative;
}

.description {
  line-height: 1.5;
  font-size: 1.1rem;
}

@media screen and (max-width: 600px) {
  .description {
    display: none;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: inherit;
  -webkit-box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.5);
  box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.5);
  font-size: 16px;
}

.footer img {
  margin-left: 0.5rem;
  height: 2em;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: 16px;
}

.list {
  list-style: none;
  margin: 0;
  min-width: 200px;
  text-align: center;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: 20px;
}

@media screen and (min-width: 601px) {
  .logo  {
    margin-right: 15px;
  }
}

.nav {
  position: fixed;
  background-color: inherit;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  height: 40px;
  line-height: 35px; 
  -webkit-box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.5);
  box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.5);
  z-index: 999999;
  top: 0;
  left:0;
  width: 100vw; 
}

.nav a{
  float: left;
  text-decoration: none;
  font-size: 16px;
  display: block;
  color: #000a47;
}

.nav_grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 5px;
  justify-content: space-around;
}

.donate{
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  width: auto;
  color:#fafafa;
  height: 28px;
  font-size: 16px;
  background-color:#00c5a5;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-color: #000a47;
}

.nav_dropdown .nav_dropdown_bttn {
  font-size: 16px;  
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  position: relative;
  display: block;
  color:#000a47;
}

.nav_dropdown_content {
  display: none;
  position: absolute;
  background-color: #fafafa;
  min-width: 160px;
  box-shadow: 0px 4px 6px 0px #000a47;
  z-index: 1;
  margin-top: 1px;
}

.nav_dropdown_content a {
  float: none;
  padding: 0px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 14px;
}

.nav_dropdown_content a:hover {
  background-color: #ddd;
}

.nav_dropdown:hover .nav_dropdown_content {
  display: block;
}

.team_list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team_name{
  color: #000a47;
  font-size: 12px;
}

.team_img{
  width: 100%;
  object-fit: cover;
  height: 200px;
  object-position: top center;
}

.team_details{
  padding: 10px 10px;
  text-align: center;
}

.listItem{ 
  width: 200px;
  list-style: none;
  box-shadow: -8px 8px 0 0 rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  margin-bottom: 23px;
  justify-content: space-between;
}

.listItem:hover {
  box-shadow: -8px 8px 0 0 #00c5a5;;
}